body {
  font-family: "Gotham", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background-color: #000000;
  max-width: 100%; /* Establece el ancho máximo de la página */
  overflow-x: hidden; /* Bloquea el desplazamiento horizontal */


  }
  
#sec3{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

#sec3 h1 {
  text-align: center;
  color:#
}
#sec3 p {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top:1%;
  margin-bottom:1%;
  font-size: 20px;
  font-family: 'Gotham', sans-serif;
  color: #939393;
}